:root {
  --page-1-color: steelblue;
  --page-2-color: #ffc107;
  --page-3-color: #28a745;
  --page-4-color: #dc3545;
  --animation-speed: 1s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#page-1 {
  background-color: var(--page-1-color);
}

#page-1 h1 {
  animation: slideInTop var(--animation-speed) ease-in-out;
}

#page-1 p {
  transform: translateX(-100vw);
  animation: slideInRight var(--animation-speed) var(--animation-speed) forwards ease-in-out;
}

#page-2 {
  background-color: var(--page-2-color);
}

#page-3 {
  background-color: var(--page-3-color);
}

#page-4 {
  background-color: var(--page-4-color);
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 5rem;
}

.page h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 1rem;
}

.page p {
  font-size: 1.5rem;
  margin: 1rem;
}

.btn {
  display: inline-block;
  background: #f4f4f4;
  padding: 1rem 2rem;
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
}

.btn:hover,
.btn-dark {
  background: #333;
  color: #f4f4f4;
}

.btn-dark:hover {
  color: #333;
  background: #f4f4f4;
}

@keyframes slideInRight {
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(0);
  }
}
