/* Text Modifiers */

.text-primary {
  color: rgb(52, 255, 154);
}

.text-secondary {
  color: rgb(63, 170, 117);
}

/* End Text */

/* Container Modifiers */

.bg-light {
  background: white;
  color: rgb(63, 170, 117);
}

.bg-normal {
  background: rgb(63, 170, 117);
  color: white;
}

/* End Container */

/* Button */

.btn {
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
}

.btn i {
  font-size: 0.8rem;
}

.btn:hover {
  opacity: 0.8
}

/* End Button */

/* Button Modifiers */

.btn-primary {
  background-color: rgb(63, 170, 117);
  color: white;
}

.btn-secondary {
  background: white;
  color:rgb(63, 170, 117);
  border:rgb(63, 170, 117) 1px solid;
}

.btn-dark {
  background: rgb(39, 39, 39);
  color: white;
}

/* End Button Modifiers */

/* Section Header */

.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h2 {
  font-size: 2.5rem;
  margin: 20px 0;
}

.section-padding {
  padding: 20px 20px 40px;
}

/* Flex Items Contaienr */

.flex-items {
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.flex-items > div {
  padding: 15px;
}

/* End Flex Items Container */

/* Flex Row Container */

.flex-row {
  display: flex; 
}

.flex-row .flex-column {
  height: 500px;
  flex: 1 1 50%;
}

.flex-row .flex-column img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex-row .flex-column.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.flex-row.flex-reverse {
  flex-direction: row-reverse;
}

/* End Flex Row Container */

/* Flex Grid Container */

.flex-grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/* End Flex Grid Container */

/* Form */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form fieldset {
  border: none;
}

form button {
  margin-top: 20px;
}

/* End Form */

/* Form Group */

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: black;
  margin-bottom: 5px;
}

.form-group input {
  border: none;
  background-color: rgb(63, 170, 117);
  color: white;
  padding: 10px;
  height: 40px;
}

.form-group input::placeholder {
  color: white;
}

.form-group input:focus {
  border: transparent 1px solid;
  outline: rgb(52, 255, 154) 1px solid;
}

/* End Form Group */

/* Key Frames */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* End Key Frames */
